@import "base/base";
@import "layout/layout";
@import "components/list";

.right {
  float: right;
}
.red {
  color: #ff8080 !important;
}
.red-focus:focus {
  border: 1px solid #ff8080 !important;
}






